body{
    background-color: rgb(15, 15, 39);
}
.navbar{
    display: flex;
    justify-content: space-around;
   

    
}
.navigate ul li {  
    display: inline;
    list-style: none;
  
}
.navigate{
    position: absolute;
    right:10px;
}
.navigate a{
    text-decoration: none;
    list-style: none;
    color: antiquewhite;
    padding: 10px;
    position: relative;
    right: 10px;
}
.logo{
    position: absolute;
    float: left;
    left: 10px;
    color: orange;
}

.intro{
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%)

   
}
.intro h1{
    color : antiquewhite;
    font-size: 60px;
}
.intro h2{
    color: antiquewhite;
    font-size:50px;
    margin-top:5px;
}
.name{
    color: orange;
}